.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  background-color: hsla(0, 0%, 100%, 0.075)
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.nav-left,
.nav-right {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-left-ul,
.nav-right-ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.main-heading {
  text-align: center;
  font-family: $jedi;
  text-transform: uppercase;
  color: $yellow;
  text-shadow: $outline;
  font-size: 1rem;
}

.collections-menu-link,
.main-menu-link {
  letter-spacing: 1px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
  
}

.sw-heading {
  display: block;
  font-size: 3rem;
  line-height: 1;
}