* {
  box-sizing: border-box;
}

.App,
body,
html {
  height: 100%;
}

.App,
.container,
.home {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0;
}

.home {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "left film right"
    "left film right"
    "left ship right";
}


.planet-btn {
  margin: 1rem;
  -moz-box-shadow: 3px 4px 0px 0px #353333;
  -webkit-box-shadow: 3px 4px 0px 0px #353333;
  box-shadow: 3px 4px 0px 0px #353333;
  -moz-border-radius: $circle;
  -webkit-border-radius: $circle;
  border-radius: $circle;
  border: 1px solid #4e4c4c;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: $alien;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}


.left-btns {
  grid-area: left;
  display: grid;
  grid-template-areas:
    "moon . planets"
    ". . ."
    "people people people"
    "people people people"
    "people people people"
}

.moon {
  grid-area: moon;
  border-radius: 100%;
  background: rgb(160, 154, 154);
  height: 2rem;
  width: 2rem;
  margin: 7rem 0 0 3rem;
}

.planets-btn {
  grid-area: planets;
  padding: 2rem;
  height: 15rem;
  width: 15rem;
}

.people-btn {
  grid-area: people;
  padding: 2rem;
  height: 11rem;
  width: 11rem;
  margin: 0 0 0 5rem;
}



.right-btns {
  grid-area: right;
  display: grid;
  grid-template-areas:
    "favs favs ."
    "favs favs ."
    "ships ships ships"
    "ships ships ships"
    "ships ships ships"
    "ships ships ships"
}

.favs-btn {
  grid-area: favs;
  padding: 2rem;
  height: 13rem;
  width: 13rem;
  margin: 0 0 3rem 0;
}

.vehicles-btn {
  grid-area: ships;
  height: 18rem;
  width: 18rem;
  margin: 3rem 2rem;
}