
.planets-btn {
  background: #159957;
  background: -webkit-linear-gradient(to right, #159957, #155799);
  background: linear-gradient(to right, #159957, #155799);
}

.vehicles-btn {
  background: rgb(124, 167, 29);
  background: radial-gradient(circle, rgba(124, 167, 29, 1) 15%, rgba(10, 108, 2, 1) 100%);
}

.favs-btn {
  background: rgb(255, 99, 34);
  background: radial-gradient(circle, rgba(255, 99, 34, 1) 0%, rgba(254, 8, 60, 1) 100%);
}

.people-btn {
  background: rgb(255, 216, 0);
  background: linear-gradient(133deg, rgba(255, 216, 0, 1) 0%, rgba(254, 187, 8, 1) 22%, rgba(254, 121, 8, 1) 90%);
}

.home {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "left film right"
    "left film right"
    "left ship right";
}


