$jedi: 'Kanit',
sans-serif;
$alien: 'Gugi',
cursive;
$primary: 'Roboto Mono',
monospace;


$yellow: hsl(51, 100%, 50%);
$shadow: hsl(51, 19%, 34%);

$outline: 2px 2px 0 $shadow, 2px -2px 0 $shadow, -2px 2px 0 $shadow, -2px -2px 0 $shadow, 2px 0px 0 $shadow, 0px 2px 0 $shadow, -2px 0px 0 $shadow, 0px -2px 0 $shadow;
// buttons

$circle: 100%;