@import url('https://fonts.googleapis.com/css?family=Gugi|Kanit:700,900|Roboto+Mono');
@import 'variables';
@import '../components/App/App';

// font-family: 'Kanit',
// sans-serif;
// font-family: 'Gugi',
// cursive;
// font-family: 'Roboto Mono',
// monospace;
html {
  margin: -10px 0 0 0;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: white;
}


.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.stars,
.twinkling {
  position: fixed;
  width: 100%;
  height: 100%;
  // display: block;
  z-index: -1
}



// .stars,
// .twinkling {
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
