@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Gugi|Kanit:700,900|Roboto+Mono');
@import 'variables';
@import '../components/App/App';
@import '../components/Header/Header';
@import '../components/Ship/Ship';
@import '../components/Loading/Loading';
@import '../components/FeaturedFilm/FeaturedFilm';
@import '../components/Gallery/Gallery';

// font-family: 'Kanit',
// sans-serif;
// font-family: 'Gugi',
// cursive;
// font-family: 'Roboto Mono',
// // monospace;


body {
  height: 100vh;
  font-family: $primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: white;
  background: hsl(0, 0%, 0%);
  overflow: hidden;
}


.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: 0;
}

.stars,
.twinkling {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}


.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 600s linear infinite;
  -ms-animation: move-twink-back 600s linear infinite;
  -o-animation: move-twink-back 600s linear infinite;
  -webkit-animation: move-twink-back 600s linear infinite;
  animation: move-twink-back 600s linear infinite;
}