@import url('https://fonts.googleapis.com/css?family=Gugi|Kanit:700,900|Roboto+Mono');
@import 'variables';

// font-family: 'Kanit',
// sans-serif;
// font-family: 'Gugi',
// cursive;
// font-family: 'Roboto Mono',
// monospace;
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  position: relative;
  color: white;
}